<% META title = "ν42 March Newsletter Sample" %>

<% body.open %>

<% header %>

<% content.open %>

<% h2.story %>A tar anomaly</h2>

<% p.story %>A bug-fix to File::Which caused me to discover some unexpected (by-design) behavior of MinGW and Cygwin versions of the tar utility on Windows: Files may evaporate on extraction &hellip; <a href="https://www.nu42.com/2016/03/tar-anomaly.html" style="<% style.a.story %>">more</a></p>

<hr>

<% h2.story %>Perl is spreading to Windows</h2>

<% p.story %>Installing git alongside Visual Studio 2015 Update 2 CTP brings perl 5.22.0 to Windows developers´ machines &hellip; <a href="https://www.nu42.com/2016/02/perl-spreading-windows-visual-studio.html" style="<% style.a.story %>">more</a></p>

<% content.close %>

<% sidebar.open %>

<% h3.sidebar %>Related Sites</h3>

<% p.sidebar %><a href="http://www.masteringperl.org/" style="<% style.a.sidebar %>">Mastering Perl</a></p>

<% p.sidebar %><a href="http://www.effectiveperlprogramming.com/" style="<% style.a.sidebar %>">Effective Perl</a></p>

<% p.sidebar %><a href="http://perltricks.com/" style="<% style.a.sidebar %>">Perl Tricks</a></p>

<% p.sidebar %><a href="http://perlmaven.com/products" style="<% style.a.sidebar %>"> Perl Maven</a></p>

<% p.sidebar %><a href="http://perlweekly.com/" style="<% style.a.sidebar %>">Perl Weekly</a></p>

<% sidebar.close %>

<% footer %>

<% body.close %>

