<% body.open = '<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="email-body-container"><tr><td align="center" valign="top"><table border="0" cellpadding="20" cellspacing="0" width="600" id="email-container">' %>

<% body.close = '</table></td></tr></table>' %>

<% header = '<tr><td colspan="2"><a href="https://www.nu42.com/"><img src="https://example.org/some/image.png" width="600" height="100" alt="[ ν42 Newsletter Header Logo ]" title="ν42"></a></td></tr>' %>

<% content.open = '<tr valign="top" align="left"><td width="70%">' %>

<% content.close = '</td>' %>

<% sidebar.open = '<td width="30%">' %>

<% sidebar.close = '</td></tr>' %>

<% footer = '<tr valign="middle" align="center"><td colspan="2"><p>Some footer text</p><p><a href="https://www.nu42.com/">ν42 online</a></p></td></tr>' %>

<% h2.story = '<h2 style="font-weight:bold;font-family:serif;font-size:16px">' %>

<% p.story = '<p style="font-family:sans-serif;font-size:14px">' %>

<% style.a.story = 'color:#22e;text-decoration:none' %>

<% h3.sidebar = '<h3 style="font-weight:bold;font-family:serif;font-size:14px;text-decoration:underline">' %>

<% p.sidebar = '<p style="font-family:sans-serif;font-size:12px">' %>

<% style.a.sidebar = 'display:block;color:#446;text-decoration:none;font-variant:small-caps' %>

